/* Reseta o padrão da página */
body {
  margin: 0;
  padding: 0;
  background-color: #666078;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

button{
  width: 30%;
  padding: 3px 5px;
  border-radius: 10px;
}

/* O contêiner que trava o visual em formato "Mobile" */
.mobile-container {
  width: 100%;
  height: 100%;
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #666078;
  box-shadow: 0 0 30px rgba(0,0,0,0.7);
  padding: 40px 20px;
  box-sizing: border-box;
  position: relative;
}

.intro {
  text-align: center;
  margin-bottom: 40px;
  color: #feeefff3;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #5E1742;
  border-radius: 15px;
  padding: 0px 0px 30px;
  
}

.intro h1 {
  color: #feeeff;
  line-height: 50px;
}

.intro a {
  text-decoration: solid;
}

.popup-endereco{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.popup-endereco h1 {
  color: #feeeff;
  text-align: start;
  font-size: larger;
  margin: 0px 0px 3px;
}

.descricao-endereco{
  flex: 5;
  display: flex;
  width: 100%;
}

.descricao-endereco iframe{
  flex: 1;
  width: 40%;
  border: 2px solid #fbacff;
  border-radius: 15px;
  margin: 2px;
}

.descricao-endereco text{
  flex: 3;
  width: 60%;
  text-align: start;
  background-color: #330136;
  color: #feeeff;
  padding: 2%;
  border: 1px solid #fbacff;
  border-radius: 10px;
  margin: 2px;
}

.botao-rotas{
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 7px 15px 0px;
}

.lista-nomes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.modal h2 {
  margin-bottom: 15px;
}

/* Botões dimensionados para toque (Touch targets generosos) */
.lista-grupos {
  height: 80%;
  display: flex;
  gap: 15px;
  margin-top: 10px;
  overflow-x: auto;
  padding: 0px 30px 10px;
  cursor: grab;

  -webkit-overflow-scrolling: touch;

  scroll-snap-type: x mandatory;
}

.lista-grupos:active {
  cursor: grabbing;
}

.lista-grupos::-webkit-scrollbar {
  height: 6px;
}

.lista-grupos::-webkit-scrollbar-track {
  background: transparent;
}

.lista-grupos::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* Um cinza claro e elegante */
  border-radius: 10px;
}

.lista-grupos.sem-ima {
  scroll-snap-type: none !important;
  cursor: grabbing !important;
}

.lista-grupos.sem-ima .btn-largo {
  cursor: grabbing !important;
}

.acoes-confirmacao{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.btn-largo {
  width: 60%;
  height: 300px;
  padding: 16px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 16px;
  background-color: #330136;
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  transition: transform 0.1s;
  flex: 0 0 auto;
  min-width: 160px;
  scroll-snap-align: center;
  user-select: none; 
  -webkit-user-select: none;
}

.btn-largo:active {
  transform: scale(0.98);
}

.btn-secundario {
  background-color: #962E40;
  color: #feeeff;
  height: auto;
  border: none;
  padding: 7px 0px;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.45);
}

.btn-secundario:active {
  transform: scale(0.98);
}

.btn-sucesso {
  background-color: #28a745;
  height: auto;
}

.btn-recusar {
  background-color: transparent;
  color: #dc3545;
  border: 1px solid #dc3545;
  height: auto;
}

/* Sistema de Modais */
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding: 20px;
  backdrop-filter: blur(4px); 
  -webkit-backdrop-filter: blur(4px); 
}

.modal {
  background: #5E1742;
  width: 100%;
  max-width: 600px;
  padding: 30px 20px;
  border-radius: 20px;
  position: relative;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.btn-fechar {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #962E40;
  border: 1px solid #330136;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
  color: #feeeff;
}

.grupo-botoes-confirmar {
  display: flex;
  gap: 10px;
  width: 100%;
}

.btn-principal-confirmar {
  flex: 10; /* Faz o botão de confirmar ocupar a maior parte do espaço */
}

.btn-seta {
  font-size: 1.5rem;
  padding: 0;
  background-color: #333;
  flex: 1;
}